.quizHeader{
    background-color: #FBF8F8;
    color:white;
    font-size:25px;
    font-weight:900;
    text-align: center;
    margin-left:-15px;
    margin-right:-15px;
}
.label-input{
    color: #18bc9c;
}
.quizRegister{
    margin-top:10px;
}
.quizRegister input[type=checkbox]{
    width:auto;
    display:inline;
    height:25px;
    vertical-align: center;
    margin-right: 2px;
}
.quizRegister label{
    line-height: 30px;
    margin-left:10px;
}
.quiz{
    display:none;
    padding:0;
}
.quiz .question{
    font-size: 20px;
}
.quiz .options{
    margin:10px;
}
.quiz label{
    display:block;
    font-weight: normal;
}
.quiz input{
    display:inline;
    width: auto;
    margin-top: -1px;
    margin-right:5px;
}
.quiz .status{
    background-color: #00AAFD;
}
.quiz .status .circle,.quizResults .status .circle{
    width:40px;
    height:40px;
    float:left;
    padding:3px;
    border: 1px solid white;
    text-align: center;
    font-size:20px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #AAAAAA;
    color: white;
}
.quiz .status i,.quizResults .status i{
    float:left;
    color:gold;
    line-height: 50px;
    padding-top:8px;
    font-size:20px;
}
.quiz .status .circle.correct,.quizResults .status .circle.correct{
    background-color: #128f76;
}
.quiz .status .circle.wrong,.quizResults .status .circle.wrong{
    background-color: #d62c1a;
}
.quiz .score,.quiz .score span{
    background-color:#00021c;
    line-height: 35px;
    height:45px;
    vertical-align: middle;
    font-size:18px;
    margin-right:10px;
}
.quiz .score span{
	padding: 5px 2px;
	display: inline-block;
	background: none;
}
.quiz .score{
    padding-left: 10px;
    margin: 0 -15px 10px -15px;
}
.quiz span#correctL{
    color: #128f76;
}
.quiz span#wrongL{
    color:#d62c1a;
}
.quiz span#timeL{
    color:#2aabd2;
}
.quizResults{
    display: none;
    margin-top:5px;
    margin-bottom:5px;
}
.quizResults div{
    font-weight: bold;
}
.quizResults div span{
    float: right;
}
.quizResults #resultMsg{
    background-color: #5500aa;
    color:#8fff2a;
    padding:3px;
    border-radius:5px;
}
